/* @import "tailwindcss"; */

* {
	margin: 0;
	font-family: "Metropolis";
}

body {
	background-color: #edeef0;
}

.header-con {
	width: 100%;
}

.todo-header {
	font-size: 60px;
	text-align: left;
}

.clock {
	font-size: 20px;
	font-weight: 500;
	margin: 10px 0 10px 5px;
}

.todo-form {
	margin: 50px 0px 30px 0px;
}

.input {
	height: 50px;
	width: 50%;
	outline: none;
	border: none;
	border-radius: 999px;
	padding-left: 30px;
	margin-right: 10px;
	font-size: 15px;
}

.todo-add {
	font-size: 16px;
	background-color: #49b1fb;
	color: #fff;
	height: 50px;
	width: 120px;
	border-radius: 999px;
	border: none;
	cursor: pointer;
}

.todo-add:hover {
	background-color: #3ca8f6;
}

.list-container {
	margin-top: 20px;
}

.todo-list {
	margin: 0;
	padding: 0;
}

.todo-item {
	padding: 10px 0px 10px 30px;
	border-radius: 99px;
	display: flex;
	align-items: center;
	background-color: #fff;
	margin-bottom: 20px;
	list-style: none;

	height: 50px;
	width: 50%;

	position: relative;
}

.todo-item:hover {
	cursor: pointer;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.todo-title {
	margin-bottom: 5px;
}

.todo-check {
	height: 15px;
	width: 15px;
	margin-right: 20px;
}

.item-edit {
	visibility: hidden;
	margin-left: auto;
	margin-right: 20px;
	color: #9a9d9e;
}

.todo-item:hover .item-edit {
	visibility: visible;
}

.item-edit > span:hover {
	background-color: #e3e3e4;
	border-radius: 999px;
}

.menu {
	background-color: #fff;
	box-sizing: border-box;
	margin-left: 10px;
	border-radius: 15px;
	height: 100%;

	width: 10%;
	display: flex;

	left: 100%;
	position: absolute;
	flex-direction: column;
	line-height: 1;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
	gap: 5px;
	padding: 5px;
}

.menu > span {
	display: flex;
	flex: 1;
	border-radius: 10px;
	align-items: center;
	padding-left: 7px;

	font-size: 12px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.menu > span:hover {
	cursor: pointer;
	background-color: #f0f0f6;
}

.edit {
	display: flex;
	align-items: center;
	width: 100%;
}

.edit > span {
	padding: 10px;
	border-radius: 99px;
	color: #fff;
	font-size: 16px;
	border: 2px solid transparent;
}

.edit-input {
	flex: 1;
}

.edit-save {
	margin-right: 5px;
	background-color: #3ca8f6;
}
.edit-save:hover {
	border-color: #0c8ce9;
}

.edit-cancel {
	margin-right: 15px;
	background-color: #9dd3fb;
}
.edit-cancel:hover {
	border-color: #0c8ce9;
}

.edit .edit-input {
	height: 50px;

	outline: none;
	border: none;
	border-radius: 999px;
	padding-left: 30px;
	margin-right: 10px;
	font-size: 15px;
	background-color: #f8f8f8;
}
