@import "tailwindcss";

@theme {
	--font-sans: "Metropolis", "system-ui", "sans-serif";
}

@theme {
	--color-primary: #49b1fb;
	--color-primaryH: #3ca8f6;
	--color-bg: #f8f8f8;
	--color-menu: #9a9d9e;
	--color-menuH: #e3e3e4;
	--color-editH: #f0f0f6;
	--color-save: #3ca8f6;
	--color-cancel: #9dd3fb;
	--color-outline: #0c8ce9;
	--color-editInput: #f8f8f8;
}

@font-face {
	font-family: "Metropolis";
	src: url("/fonts/Metropolis-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Metropolis";
	src: url("/fonts/Metropolis-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Metropolis";
	src: url("/fonts/Metropolis-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Metropolis";
	src: url("/fonts/Metropolis-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Metropolis";
	src: url("/fonts/Metropolis-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Metropolis";
	src: url("/fonts/Metropolis-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

.google-icon {
	font-size: 16px;
}
